<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HomeWorkSys2020.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <HomeWorkSys2020.My.MySettings>
      <setting name="ServerURL" serializeAs="String">
        <value>vvbbnn00.cn</value>
      </setting>
      <setting name="Title" serializeAs="String">
        <value>2020暑假作业任务系统</value>
      </setting>
      <setting name="TopMost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackGround" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackType" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="BackColor" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="BackImgPath" serializeAs="String">
        <value>Null</value>
      </setting>
      <setting name="ExpireDate" serializeAs="String">
        <value>2020-08-31</value>
      </setting>
      <setting name="Subjects" serializeAs="String">
        <value/>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TimerFrequency" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="FinishedColor" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="UnfinishedColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="NotificationColor" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="Opacity" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="ShowMusicForm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UnfinishedFont" serializeAs="String">
        <value>微软雅黑, 10.5pt, style=Bold</value>
      </setting>
      <setting name="FinishedFont" serializeAs="String">
        <value>微软雅黑, 10.5pt</value>
      </setting>
      <setting name="NotificationFont" serializeAs="String">
        <value>微软雅黑, 10.5pt</value>
      </setting>
    </HomeWorkSys2020.My.MySettings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|"/>
    <add name="DefaultConnection2" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
</configuration>
